
.row {
  text-align: left;
  /* margin-top: 4rem; */
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.AboutUs_doctorImage {
  position: relative;
  width: 15rem;
  height: 20rem;
  border-radius: 20px;
}
.AboutUs_doctorName {
  color: rgb(2, 2, 223);
  font-weight: bold;
  line-height: 2.5;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
}
.AboutUs_imageContainer {
  position: relative;
  max-width: 100%;
  /* margin: 0 auto; */
}

.AboutUs_imageContainer .AboutUs_doctorDesignation {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 15rem;
  padding: 8px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0.7;
  border-radius: 0px 0px 15px 15px;
}

.react-multi-carousel-list {
  margin-top: 3rem;
  /* margin-right: 140px; */
  display: flex;
  align-items: center;
  overflow: scroll !important;
  position: relative;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.react-multi-carousel-item {
  width: max-content !important;
  margin-right: 4rem;
}
/* desktop */
@media only screen and (min-width: 768px) {
 
  h3 {
    color: rgb(2, 2, 223);
    text-align: left;
    margin-left: 4rem;
    margin-top: 5rem;
    font-size: 35px;
  }
  .AboutUs_mobileview {
    display: none;
  }
}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  h3 {
    color: rgb(2, 2, 223);
    text-align: left;
    margin-left: 4rem;
    margin-top: 5rem;
  }
  .AboutUs_mobileview {
    display: none;
  }
}
/* mobile */
@media only screen and (max-width: 480px) {
 
  h3 {
    color: rgb(2, 2, 223);
    margin-left: 32px;
    margin-top: 5%;
    font-size: 19px !important;
    float: left;
    position: absolute;
  }
  .AboutUs_firstdiv {
    display: none;
  }
  .caro {
    margin-left: 5%;
  }
  .AboutUs_doctorImage {
    width: 121px;
    height: 164px;
    left: 0px;
    top: 0px;
    border-radius: 7px;
  }
  .AboutUs_imageContainer .AboutUs_doctorDesignation {
    width: 121px;
    font-size: 12px;
    border-radius: 0px 0px 7px 7px;
    padding: 2px;
  }
  .AboutUs_doctorName {
    width: 121px;
    height: 30px;
    left: 0px;
    top: 171px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;

    color: #2541b2;
  }
  .react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding-left: 130px;
}
  .react-multi-carousel-item {
    width: max-content !important;
    margin-right: 2rem;
  }
}

.AboutUs_mobileview {
  /* position: absolute; */
  height: 819px;
  left: 0px;
  top: 0px;

  background: rgba(255, 68, 0, 0.17);
}
.AboutUs_lastdiv {
  margin-top: 100px;
  height: 15rem;
  background: rgba(255, 68, 0, 0.17);
}
